* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 2px solid lightgray !important;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 25% 75%;
}

.side-bar {
    border-right: 1px solid black;
}

.side-bar {
    display: grid;
    grid-template-rows: 15% 70% 15%;
}

.main {
    display: grid;
    grid-template-rows: 20% 80%;
}

h1, h2 {
    position: relative;
    left: 20px;
    top: 50px;
    width: fit-content;
}